/* 
    Created on : 28 бер. 2019, 11:13:10
    Author     : Taras
*/

.field {
     border-radius: 20px;
     font-size: 18px;
     font-family: 'tahoma', sans-serif;
    }
    .modal{
     width: 250px;
     padding: 50px;
     background: linear-gradient(to right, #abbaab, #ffffff);
     position: fixed; top: 50%; left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     border-radius: 15px;
    }
    .button {
     background: #b5bdc8;
     background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
     font-size: 16px; /* Font size */
     padding: 10px 20px; /* Fields around text */
     color: #fff; /* Text color */
     border: 1px solid #333; /* Frame options */
     border-radius: 20px; /* Rounding radius */
    }
    .text{
        font-size: 18px;
        font-family: 'tahoma', sans-serif;
        color: #996633;
        width: 200px;
        padding: 50px;
        background: linear-gradient(to right, #abbaab, #ffffff);
        position: fixed; top: 50%; left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 30px;
       }